@media only screen and (max-width: 1001px) {

    body {
        min-width: 0;
    }

    .calculadora h1 {
        bottom: 10px;
    }

    .container {
        width: 700px;
        height: 450px;
    }

    .gorjetas button {
        width: 10px;
        height: 40px;
        margin: 10px 10px 10px 0px;
        font-size: 16px;
        padding: 0px 40px;
    }

    .gorjetas input {
        width: 82px;
        padding: 10px;
        height: 40px;
        margin: 10px 10px 10px 0px;
        font-size: 16px;
    }

    .gorjetas input::placeholder {
        font-size: 16px;
        text-align: center;
    }

    .valores {
        font-size: 30px;
    }

    .heading-2 {
        margin-top: 20px;
    }

    .telaDireita {
        margin-top: 20px;
    }

    .botaoReset {
        font-size: 17px;
    }

    .warningSpan {
        margin-left: 22px;
    }

    .valorDaGorjeta, .valorTotal {
        font-size: 14px;
    }
}

@media only screen and (min-width: 418px) and (max-width: 705px) {

    body {
        display: block;
        margin-top: 20px;
    }

    .container {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        max-height: 100%;
        position: relative;
        border-radius: 0px;
    }

    .gorjetas {
        margin-left: 50px;
        margin-right: 50px;
    }

    .gorjetas button {
        width: 30%;
    }

    .gorjetas input {
        width: 30%;
    }

    .telaEsquerda {
        border-radius: 0px;
        margin-left: 10px;
    }

    .telaDireita{
        position: absolute;
        top: 430px;
        width: 100%;
        border-radius: 0px;
    }

    .telaFuncional {
        margin-left: 10px;
    }

    .botao {
        margin-top: 0;
    }

    .botaoReset {
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .valores {
        font-size: 30px;
    }

    .valorDaGorjeta, .valorTotal {
        font-size: 15px;
    }

    .warningSpan {
        margin-left: 30px;
    }

    .warningSpanPessoas {
        margin: 0 auto;
    }
}

@media only screen and (max-width: 417px){ 

    body {
        display: block;
        margin-top: 20px;
    }

    .container {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        max-height: 100%;
        position: relative;
        border-radius: 0px;
    }

    .gorjetas {
        margin-left: 20px;
        margin-right: 0px;
    }

    .gorjetas button, .gorjetas input {
        width: 30.3%;
    }

    .gorjetas input::placeholder {
        font-size: 13px;
    }

    .telaEsquerda {
        border-radius: 0px;
        margin-left: 10px;
    }

    .telaDireita{
        position: absolute;
        top: 430px;
        width: 100%;
        border-radius: 0px;
    }

    .telaFuncional {
        margin-left: 10px;
    }

    .botao {
        margin-top: 0;
    }

    .botaoReset {
        margin-top: 60px;
        margin-bottom: 30px;
    }

    .valores {
        font-size: 30px;
    }

    .valorDaGorjeta, .valorTotal {
        font-size: 15px;
    }

    .warningSpan {
        margin-left: 30px;
    }

    .warningSpanPessoas {
        margin: 0 auto;
    }
}